python-decouple==3.8
dj-database-url==3.1.2
icecream==2.2.0
tqdm==4.67.3
Django==6.0.4
whitenoise==6.12.0
django-extensions==4.1
django-filter==25.2
django-cors-headers==4.9.0
django-debug-toolbar==6.3.0
django-jazzmin==3.0.4
django-unfold==0.92.0
drf-material==0.3.4
django-parler==2.3
django-parler-rest==2.2
django-modeltranslation==0.20.3
django-rosetta==0.10.3
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
adrf==0.1.12
psycopg2-binary==2.9.12
flower==2.0.1
django-celery-beat==2.9.0
django-celery-results==2.6.0
django-redis==6.0.0
Pillow==12.2.0
cryptography==48.0.0
django-ratelimit==4.1.0
yt-dlp==2026.3.17
gunicorn==26.0.0
django-schema-viewer==0.5.3
drf-standardized-errors[openapi]==0.16.0
drf-spectacular[sidecar]==0.29.0
celery[redis]==5.6.3
django-import-export[all]==4.4.0
uvicorn[standard]==0.46.0
